* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/a09bb938-2d90-42ae-986e-5a3e4abf9e77/aef35354-60ff-4cc2-ae88-c9d4129f1f1a/BR-pt-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  object-fit: cover;
  box-shadow: 2px 4px 6px black;
}

div img {
  width: 210px;
  height: 130px;
  margin-left: 30px;
  margin-top: -20px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #fff;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);

  width: 430px;
}

.email-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-password input {
  width: 300px;
  height: 45px;
  padding-left: 15px;
  border-radius: 5px;
  border: none;
}
