@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
a,
span {
  color: #fff;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/a09bb938-2d90-42ae-986e-5a3e4abf9e77/aef35354-60ff-4cc2-ae88-c9d4129f1f1a/BR-pt-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  object-fit: cover;
  background: linear-gradient(black);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow: hidden;
}
/* pseudoelemento */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  pointer-events: none;
  z-index: 1;
}
div img {
  width: 210px;
  height: 130px;
  margin-left: 30px;
  margin-top: -20px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
h1 {
  font-size: 32px;
  color: #fff;
  margin: 55px 0px 18px 75px;
}

.container {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  height: 550px;
  margin-top: -30px;
  z-index: 2;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-content input,
button {
  width: 300px;
  height: 45px;
  padding-left: 15px;
  border-radius: 5px;
  border: none;
}
input#my-checkbox {
  width: 46px;
}
input {
  background-color: rgb(51, 50, 50);
}
input::placeholder {
  color: #bebaba88;
  font-size: 14px;
  padding-left: 5px;
}
label {
  cursor: pointer;
  margin-left: -5px;
  color: rgb(206, 201, 201);
}

button {
  font-size: 18px;
  color: #fff;
  background-color: rgb(199, 52, 52);
  margin-top: 30px;
  cursor: pointer;
}

.check-help {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  width: 320px;
  font-size: 13px;
  margin-top: 15px;
}

.check-content {
  display: flex;
  gap: 2px;
  margin-left: 15px;
}
.check-help .check-content a {
  margin-left: 2rem;
}
input[type="checkbox"] {
  width: 60px;
  margin-left: -8px;
  margin-right: -10px;
}
.need-help {
  display: flex;
  gap: 2px;
  margin: 70px 0px 25px 65px;
}

p {
  color: gray;
  font-weight: 100;
  margin-left: 8px;
}
#tag-a-help {
  color: rgb(206, 201, 201);
  font-weight: 200;
}

p {
  color: #fff;
  font-size: 13px;
}

.text-protection {
  display: flex;
  align-items: center;
  text-align: center;
  width: 320px;
  margin-left: 58px;
  margin-top: -10px;
}

.text-protection p {
  color: gray;
  font-weight: 300;
  font-size: 13px;
  margin-left: 15px;
}
.text-protection p a {
  color: blue;
}
.text-protection p {
  color: gray;
  font-weight: 300;
  font-size: 13px;
  margin-left: -50px;
}
@media ((max-width: 450px)) {
  html,
  body {
    font-size: 12px;
  }
  .container {
    width: 350px;
  }
}

@media ((min-width: 451px)) {
  .container {
    max-width: 350px;
  }
}
